{% extends "fullstack/layout.html" %}
{%load static%}

{% block body %}
 


        <section id="info">
            <h1 class="display-4 text-center mb-5 text-muted">by Innovation Full Stack Conferences</h1>
            <div class="row mx-2 text-justify">
                <p> Innovation Full Stack Conferences (IFSC) is a world class specialist in organizing academic, scientific, and business conferences, meetings, symposiums and exhibitions in different verticals and horizontals like engineering, science and
                    technology and business to promote scientific research. </p>
                <p> All the conference proceedings are published in the special issues of our 42+ Open Access International Journals. IFSC's research conferences are designed to inspire, innovate, recognize and share knowledge. At Innovation Info Conferences
                    researchers, academics, scholars and students exchange, reflect and share new ideas, research concepts and solutions adopted. </p>

                <p> Our aim is to create such a platform for the learners, scientists, researchers and other science-aspirants which can help in exploring the innovations in the area of research. Our aim to put together the effective strategic areas and latest
                    technologies for enhancing exchange of information and ideas for upgrading the awareness. </p>
            </div>
        </section>
        <hr>
       
     

{% endblock %}